-- Fix RLS and create robust policies
DROP POLICY IF EXISTS \
profiles_read_self\ ON public.profiles;
DROP POLICY IF EXISTS \profiles_read_company\ ON public.profiles;
DROP POLICY IF EXISTS \companies_read_jwt\ ON public.companies;
DROP POLICY IF EXISTS \allow_view_own_company\ ON public.companies;

-- 1. Profiles: Can always read own record (No joins, no functions, no recursion)
CREATE POLICY \profiles_read_self\ ON public.profiles 
FOR SELECT USING (auth.uid() = id);

-- 2. Profiles: Allow reading colleagues (Only for internal roles)
CREATE POLICY \profiles_read_colleagues\ ON public.profiles
FOR SELECT USING (
    company_id = (SELECT p.company_id FROM public.profiles p WHERE p.id = auth.uid())
);

-- 3. Companies: Direct Access (No dependencies on functions or JWT)
-- This lookup is safe because 'profiles_read_self' has no dependencies
CREATE POLICY \companies_read_access\ ON public.companies 
FOR SELECT USING (
    id IN (SELECT p.company_id FROM public.profiles p WHERE p.id = auth.uid())
);

NOTIFY pgrst, 'reload schema';
